<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <form name="frm" ng-submit="addTodo()" class="form-inline todoForm">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">New</span>
          <input name="newtodo" type="text" ng-model="newTodo" required class="form-control">
          <span class="input-group-btn">
            <button type="submit" ng-disabled="frm.$invalid" class="btn btn-primary">Go</button>
          </span>
        </div>
        <button type="button" ng-click="clearCompleted()" class="btn btn-lg btn-danger pull-right">Clear Completed</button>
      </form>
      <div class="list-group">
        <div class="list-group-item row active">
          <div class="col-sm-2">Created By:</div>
          <div class="col-sm-6">Note:</div>
        </div>
        <div ng-repeat="todo in todos" class="list-group-item row vertical-align">
          <div class="col-sm-2">{{todo.createdBy}}</div>
          <div class="col-sm-6">{{todo.title}}</div>
          <div class="col-sm-2 col-sm-offset-2 btn-group" role="group">
            <a type="button" class="btn btn-warning" ng-href="#/todos/{{todo._id}}/edit">Edit</a>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
